// Hero layout base styles

.hero-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: rgb(26,26,26);
    background: linear-gradient(
        0deg,
        rgba(26,26,26,0.5) 0%,
        rgba(0,0,0,1) 2%);
    padding: 10%;
    padding-top: 20px;
    padding-bottom: 0;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: azure;
    margin-bottom: 2rem;
    // justify-content: space-between;
}

.hero-size {
    height: 50vh;
}

.links {
    text-align: left;
    font-family: 'Karma Future';
    margin: 2rem 5rem 0 5rem;

    @media only screen and (max-width: 600px) {
        width: 100%;
        margin-top: 6rem;
        z-index: 2;
    }
}

#scene-container {
    width: 100%;
}

#scene-container canvas {
    // width: 10px;
}


.img-container {
    width: 100%;
    height: auto;
    // padding: 1.2rem;
    text-align: left;
    display: flex;
    z-index: 1;

    @media only screen and (max-width: 600px) {
        position: absolute;
        width: 100%;
        margin-top: 1rem;
        z-index: 1;
        filter: blur(2px);
        bottom: 8%;
    }
}

.img-container img {
    align-self: center;
}


.links ul {
    width: 50%;
    list-style: none;
    font-size: 30px;
    list-style: '\21B3';
    margin-top: 6vh;
    z-index: 36;
}

.links ul li {
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 20%;
}

.links ul li::marker {
    font-weight: bolder;
    font-size: 40px;
}

.links ul li a {
    text-decoration: none;
    color: azure;
    padding: 1rem;
}

.filled-background {
    background: linear-gradient(to left, transparent 50%, #E67E22 50%) right;
    background-size: 201% 100%;
    transition: .5s ease-out;
}

.filled-background:hover {
    background-position: left;
}

.action-container {
    min-height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    // background-color: azure;
    padding: 2rem;
    padding-top: 0;
    @media only screen and (max-width: 600px) {
        width: 100%;
        margin-top: 55%;
        display: block;
        text-align: center;
    }
}

.action-link {
    min-width: 25rem;
    width: 30%;
    height: 5rem;
    font-size: 22px;
    background-color: transparent;
    color: azure;
    // color: black;
    align-self: center;
    border: 2px solid azure;
    line-height: 5rem;

    @media only screen and (max-width: 600px) {
        width: 90%;
        margin: auto;
        margin-top: 6rem;
        display: inline-block;
        font-size: 18px;
    }
}

.action-link:hover {
    cursor: pointer;
    border-color: #E67E22;
}

// Hero content styles
@font-face {
    font-family: 'Karma Future';
    src: url('../fonts/karma/ka1.ttf');
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-left: 1rem;
    transition: all 0.5s ease-in;
}

.intro h2 {
    font-size: 55px;
    padding-left: 1.5rem;
    padding-top: 4rem;
    @media only screen and (max-width: 600px) {
        font-size: 20px;
    }
}

.intro p {
    padding-top: 4rem;
    padding-left: 2rem;
}

.intro-bar {
    width: 100%;
    padding-left: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: top;
    transition: padding 0.5s ease-in;
}

.intro-bar p {
    display: none;
}

.intro-bar .starburst {
    background: #E67E22;
    width: 4em;
    height: 4em;
    font-size: 3px;
    text-align: center;
    // color: #fff;
    transform: rotate(-45deg);
    margin-right: 1rem;
    align-self: center;
    transition: all 0.5s ease-in;
}

.intro-bar h2 {
    font-size: 22px;
    align-self: top;
    transition: all 0.5s ease-in;
}

.hero-img {
    max-width: 80%;
    padding: 0 7% 7% 3%;
    
    @media only screen and (max-width: 600px) {
        padding: 0;
    }
}

// .art-credits {
//     height: 50px;
//     width: 60%;
//     color: azure;
//     transform: rotate3d(0, 0, 1, 0.47rad);
//     position: relative;
//     left: 25%;
//     bottom: 0;
//     display: flex;
//     flex-direction: column;
// }

// .art-credits a {
//     padding-left: 5%;
//     font-size: 25px;
//     color: azure;
//     text-align: left;
//     width: 40%;
// }

// .art-credits h2 {
//     font-size: 14px;
//     margin: 0;
//     padding-left: 5%;
//     font-weight: bolder;
//     text-align: left;
//     width: 40%;
// }

// .shoutout {
//     text-decoration: none;
//     color: azure;
//     padding: 1rem;
//     background: linear-gradient(to left, transparent 50%, #E67E22 50%) right;
//     background-size: 201% 100%;
//     transition: .5s ease-out;
// }

// .shoutout:hover {
//     /* color: #E67E22; */
//     background-position: left;
// }

.img-container h3 {
    font-size: 15px;
    margin: 0;
    padding-left: 10%;
}

.site-title h2 {
    margin: 0;
    // align-self: center;
    text-align: left;
}

// Socials
.socials-container {
    align-self: center;
    color: azure;
}

.socials-container ul {
    margin: 0;
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    list-style: none;

    @media only screen and (max-width: 600px) {
        margin-left: 1rem;
        padding: 0;
    }
}

.socials-container ul li {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 50%;

    @media only screen and (max-width: 600px) {
        width: 1rem;
    }
}

.icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: azure;
}

.icon:hover {
    cursor: pointer;
    fill: #E67E22;
}