
// NavBar
.site-title-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    
    align-items: flex-end;
    text-align: right;

    font-family: 'Karma Future';
    color: black;
    background-color: azure;

    transition: all 0.5s ease-in;
    z-index: 999;

    @media only screen and (max-width: 600px) {
        width: 100%;
        margin-top: 0;
    }

    @media only screen and (min-width: 768px) {
        padding-right: 5%;
        margin-bottom: 1rem;
    }
}

.site-title {
    display: flex;
    flex-direction: row-reverse;
    height: 20vh;
    width: 100%;
    // background-color: aliceblue;
    font-family: 'Karma Future';
    color: azure;
    transition: all 0.5s ease-in;
    background: rgb(0, 0, 0)
}

.starburst {
    background: #E67E22;
    width: 4em;
    height: 4em;
    text-align: center;
    // color: #fff;
    transform: rotate(-45deg);
}

.starburst,
.starburst span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.starburst span {
    width: 100%;
    height: 100%;
    background: inherit;
    transform: rotate(45deg);
}

.starburst:before,
.starburst:after ,
.starburst span:before,
.starburst span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    transform: rotate(30deg);
}

.starburst:after {
    transform: rotate(-30deg);
}

.starburst span:after {
    transform: rotate(30deg);
}
.starburst span:before {
    transform: rotate(-30deg);
}


// Presentation card area

.about-container {
    display: flex;
    flex-direction: column;
}


.centered-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about-card {
    width: 40%;
    height: 60%;
    color: azure;
    align-self: center;
    margin-left: 5rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 28px;

    @media only screen and (max-width: 600px) {
        padding: 0;
        margin-left: 1rem;
    }
}

.about-card h1 {
    margin-top: 0;
    margin-bottom: 10rem;
    @media only screen and (max-width: 600px) {
        font-size: 26px;
    }
}

.separator {
    width: 100%;
    height: 30rem;
    display: flex;
    background-color: #E67E22;
    position: relative;
}

.separator2 h1 {
    color: #E67E22;
}

.section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.projects {
    background-color: #35654D;
    color: #fff3f3;
}

.contact {
    background-color: #800020;
    color: #fff3f3;
}

.project {
    margin-bottom: 15px;
}

.employee-card {
    @media only screen and (max-width: 600px) {
        width: 100px;
        height: 100px;
        font-size: 5px;
        display: none;
    }
}