
// NavBar
.site-title-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    
    align-items: flex-end;
    text-align: right;

    font-family: 'Karma Future';
    color: black;
    background-color: azure;

    transition: all 0.5s ease-in;
    z-index: 999;

    @media only screen and (max-width: 600px) {
        width: 100%;
        margin-top: 0;
    }

    @media only screen and (min-width: 768px) {
        padding-right: 5%;
        margin-bottom: 1rem;
    }
}

.site-title {
    display: flex;
    flex-direction: row-reverse;
    height: 20vh;
    width: 100%;
    // background-color: aliceblue;
    font-family: 'Karma Future';
    color: azure;
    transition: all 0.5s ease-in;
    background: rgb(0, 0, 0)
}

.starburst {
    background: #E67E22;
    width: 4em;
    height: 4em;
    text-align: center;
    // color: #fff;
    transform: rotate(-45deg);
}

.starburst,
.starburst span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.starburst span {
    width: 100%;
    height: 100%;
    background: inherit;
    transform: rotate(45deg);
}

.starburst:before,
.starburst:after ,
.starburst span:before,
.starburst span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    transform: rotate(30deg);
}

.starburst:after {
    transform: rotate(-30deg);
}

.starburst span:after {
    transform: rotate(30deg);
}
.starburst span:before {
    transform: rotate(-30deg);
}



.section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.projects {
    background-color: #35654D;
    color: #fff3f3;
}

.contact {
    background-color: #800020;
    color: #fff3f3;
}

.project {
    margin-bottom: 15px;
}

#map {
    height: 580px;
}

// .leaflet-container {
//     box-shadow: inset 0 0 200px #f8a100;
// }

.map-container {
    width: 100%;
    height: auto;
    z-index: 20;
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
    color: #E67E22;
    background-color: #1a1a1a;
    border: none;
    border-radius: 20px !important;
    margin-bottom: 1rem;
    padding: .2rem;
}

.leaflet-control-attribution a {
    color: #E67E22;
}

.leaflet-control-zoom {
    top: 15rem;
    border: none !important;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    // filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}


.map-overlay {
    position: relative;
    top: 3rem;
    color: #E67E22;
    z-index: 80;
}