.resume-container {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    margin-bottom: -3rem;
    position: relative;
    top: -1rem;
}

.resume-container::before {
    content: '';
    display: block;
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    height: 1px;
    background-color: azure;
    z-index: -1;
}

.resume-container button {
    align-self: center;
    min-width: 10rem;
    min-height: 2rem;
    padding: 1rem;
    font-size: 28px;
    background-color: #1a1a1a;
    color: azure;
    border: 1px solid azure;
    transition: color .5s ease-out;
    z-index: 20;
}

.resume-container button:hover {
    cursor: pointer;
    color: #E67E22;
}

.resume-container button:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.resume-container button:nth-child(2) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.sections {
    width: 180vw;
    position: relative;
    left: calc(-50vw + 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: left 1s;
    z-index: 1;
}

.alternative {
    left: -120vw
}

.slider-section {
    /* width: 100vw; */
    width: 100vw;
    min-height: 70vh;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto auto 30vw;
    padding: 20px;
    @media only screen and (max-width: 600px) {
        width: 100%;
        padding: 0;
    }
}

.anothaone {
    min-width: 85%;
    display: flex;
    /* background-color: brown; */
    // border: 1px solid azure;
    margin: 0;
    margin-left: 10vw;
    @media only screen and (max-width: 600px) {
        width: 100%;
        margin-left: 0;
        flex-direction: row-reverse;
    }
}

.skills-container {
    font-family: 'Chakra Petch', sans-serif;
    color: azure;
    width: 20vw;
    border-radius: 20px;
    // border: 3px solid #E67E22;
    margin-top: 1rem;
    z-index: 2;
    @media only screen and (max-width: 600px) {
        z-index: 2;
        margin-right: 0;
        display: none;
        justify-self: flex-end;
        height: 500px;
    }
}

.anothaone ul {
    list-style: none;
    padding-left: 0;
}

.anothaone ul li {
    width: 80%;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0.5rem;
    border-radius: .5rem;
    border: #E67E22 1px solid;
}

.fill-60 {
    background: linear-gradient(to right, #E67E22 60%, #1a1a1a 0%);
}

.fill-75 {
    background: linear-gradient(to right, #E67E22 75%, #1a1a1a 0%);
}

.fill-80 {
    background: linear-gradient(to right, #E67E22 80%, #1a1a1a 0%);
}

.fill-90 {
    background: linear-gradient(to right, #E67E22 90%, #1a1a1a 0%);
}

.skill-bar-wrapper {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0rem 0.5rem;
}

.stat-bar-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.stat-bar-wrapper .skill-icon {
    padding: .5rem;
}

.stat-btn-wrapper {
    width: 60px;
    border-radius: 40px;
    margin-right: .5rem;
    transition: background-color .5s ease-in;
    display: flex;
}

.stat-btn-wrapper:hover {
    background-color: #d3c336;
    cursor: pointer;
}

.selected-tab {
    background-color: rgb(82, 70, 21);
    // border: 1px solid #d3c336;
}

.selected-tab:hover {
    background-color: rgb(82, 70, 21);
    cursor: auto;
}

.stack-icon {
    width: 50px;
    height: 50px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    padding: .3rem;
    fill: #E67E22;
    justify-self: center;
    align-self: center;
}

.stat-tech-title {
    border-top: 1px solid azure;
    border-bottom: 1px solid azure;
    margin-bottom: 2rem;
}

.skill-icon {
    width: 50px;
    height: 50px;
    fill: #E67E22;
}


.tech-icons-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
}

.tech-icon {
    width: 60px;
    height: 60px;
    padding: 1.2rem;
    border: 3px #ff9131 solid;
    border-radius: 15px;
    transition: fill .5s ease-in;
    fill: #E67E22;
}

.tech-icon:hover {
    border-color: #d3c336;
    fill: #d3c336;
}


.bar-toggle-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-self: flex-end;
}

.tech-style {
    color: blue;
}

.about-me-container {
    height: 40vh;
    width: 100%;
    // background-color: #E67E22;
    color: azure;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid azure;
    padding-top: 2rem;
}

.about-me-container p {
    width: 60%;
    text-align: justify;
}

.about-me-container ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.about-me-container ul li {
    width: 80%;
    padding: 1rem;
    margin: 0rem 1rem 0 0.5rem;
    border-radius: .5rem;
    border: #E67E22 1px solid;
}

.about-me-container .skills-container {
    margin-top: 0;
}