.resume-container {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    margin-bottom: -3rem;
    position: relative;
    top: -1rem;
}

.resume-container::before {
    content: '';
    display: block;
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    height: 1px;
    background-color: azure;
    z-index: -1;
}

.resume-container button {
    align-self: center;
    min-width: 10rem;
    min-height: 2rem;
    padding: 1rem;
    font-size: 28px;
    background-color: #1a1a1a;
    color: azure;
    border: 1px solid azure;
    transition: color .5s ease-out;
    z-index: 20;
}

.resume-container button:hover {
    cursor: pointer;
    color: #E67E22;
}

.resume-container button:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.resume-container button:nth-child(2) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.sections {
    width: 180vw;
    position: relative;
    left: calc(-50vw + 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: left 1s;
    z-index: 1;
}

.alternative {
    left: -100vw
}

.slider-section {
    /* width: 100vw; */
    width: 100vw;
    min-height: 80vh;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    @media only screen and (max-width: 600px) {
        width: 100%;
        padding: 0;
    }
}

.anothaone {
    min-width: 70%;
    display: flex;
    /* background-color: brown; */
    // border: 1px solid azure;
    margin: 0;
    margin-left: 20vw;
    @media only screen and (max-width: 600px) {
        width: 100%;
        margin-left: 0;
        flex-direction: row-reverse;
    }
}

.skills-container {
    font-family: 'Chakra Petch', sans-serif;
    color: azure;
    min-width: 30%;
    border-radius: 20px;
    border: 3px solid #E67E22;
    // background-color: #fff3f3;
    /* background-image: linear-gradient(0deg, rgb(0,142,0), azure); */

    z-index: 2;
    @media only screen and (max-width: 600px) {
        z-index: 2;
        margin-right: 0;
        display: none;
        justify-self: flex-end;
        height: 500px;
    }
}

.anothaone ul {
    list-style: none;
}

.anothaone ul li {
    padding: 1rem;
    margin: 1rem;
    background-color: #E67E22;
    border-radius: .5rem;
    /* background-color: azure; */
}

// .ripple-background {
//     width: 100vw;
//     height: 100vh;
//     display: block;
//     position: absolute;
//     margin: 0;
// }

.circle{
    position: absolute;
    border-radius: 50%;
    // background: #ff9131;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 6px 0px #ff9131;
}

.small{
    width: 200px;
    height: 200px;
    left: 1600px;
    bottom: -1100px;
    background-color: #ff9131;
}

.medium{
    width: 400px;
    height: 400px;
    left: 1500px;
    bottom: -1200px;
    background: #1a1a1a;
}

.large{
    width: 600px;
    height: 600px;
    left: 1400px;
    bottom: -1300px;
}

.xlarge{
    width: 800px;
    height: 800px;
    left: 1300px;
    bottom: -1400px;
}

.xxlarge{
    width: 1000px;
    height: 1000px;
    left: 1200px;
    bottom: -1500px;
}

.xxxlarge{
    width: 1200px;
    height: 1200px;
    left: 1100px;
    bottom: -1600px;
}

.xxxxlarge{
    width: 1400px;
    height: 1400px;
    left: 1000px;
    bottom: -1700px;
}

.shade1{
    opacity: 0.2;
}
.shade2{
    opacity: 0.5;
}

.shade3{
    opacity: 0.7;
}

.shade4{
    opacity: 0.8;
}

.shade5{
    opacity: 0.9;
}

@keyframes ripple{
    0%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(0.8);
}
}