@import "../main.scss";

// Presentation card area

.separator-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.centered-content {
    max-width: 60vw;
    margin: 0 auto;
    // padding: 20px;

    @include mq(small, max-width) {
        position: relative;
        z-index: 2;
        background-color: $c-dark;
    }
}

.separator-row {
    width: 100%;
    height: 60%;
    color: azure;
    align-self: center;
    padding: 2rem;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;

    @include mq(small, max-width) {
    padding: 2rem 0 2rem 0;
    }
}

.separator-row h1 {
    margin-bottom: 10rem;
    font-size: 290px;
    font-weight: bold;
    line-height: 5rem;

    @include mq(small, max-width) {
        @include text-style($size: 70px);
    }
}

.separator-top {
    width: 100%;
    height: 10rem;
    display: flex;
    background-color: #E67E22;
    position: relative;
    overflow-y: hidden;
    z-index: 2;

    @include mq(small, max-width) {
        height: 4rem;
    }
}

.separator-bottom {
    width: 100%;
    overflow: hidden;
    display: flex;

    @include mq(small, max-width) {
        height: 4rem;
        z-index: 2;
    }
}

.separator-top h1 {
    margin-top: 6rem;

    @include mq(small, max-width) {
        margin-top: 1rem !important;
    }
}

.separator-bottom h1 {
    color: #E67E22;
    margin-top: -4rem;

    @include mq(small, max-width) {
        margin-top: -3rem !important;
    }
}

.boutsec {
    transition: top 0.6s ease-out;
    top: 500px;
    height: 0;
    border-radius: 8px;
    margin: 0 8% 0 auto;
    position: relative;
    bottom: -20vh;
}

.employee-card {
    width: 500px;
    left: -50vw;
    height: auto;
    position: absolute;
    z-index: 20;
    @media only screen and (max-width: 600px) {
        width: 100px;
        height: 100px;
        font-size: 5px;
        display: none;
    }

    @include mq(small, max-width) {
        display: none;
    }
}

.employee-card h1 {
    margin: 0;
}