// Section Layout base styles

.prompt-wrapper {
    display: flex;
    margin-bottom: 6rem;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 40px;
    color: #2E3D48;
    animation: 1s blink step-end infinite;
    align-self: flex-end;
}

@keyframes blink {
    from, to {
    color: transparent;
    }
    50% {
        color: azure;
    }
}

.events {
    // background-color: #fff3f3;
    background-color: transparent;
    // color: #111111;
    color: azure;
    display: flex;
    flex-direction: column;
}

.events h1 {
    margin: 0;
}

.events h2 {
    margin-bottom: 0;
}

.event h3 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}

.event p {
    font-size: 16px;
    text-align: justify;
    text-justify:inter-word
}

.event h5 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
}

.year h3 {
    margin: 0;
}

svg {
    height: 40px;
}

.baby {
    margin-left: 5px;
    padding-right: 5px;
    fill: #E67E22;
}

.calendar {
    padding-right: 15px;
    fill: #E67E22;
}

// Event row styles
.clicked button {
    background-color: #E67E22;
    pointer-events: none;
}

.clicked span {
    height: 100%;
    transition: height 1s ease-out;
}


.start-container,
.end-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: top;
}

.start-container .year {
    visibility: hidden;
}

.start-container.revealed .year {
    visibility: visible;
}

.start-container.revealed .marker-line .marker::before,
.start-container.revealed .marker-line .marker::after {
    display: none;
}

.year {
    vertical-align: text-top;
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
    padding-left: 2rem;
    min-width: 100px;
    width: 70%;
    text-align: right;
}

.event-container {
    display: none;
}

.timeline-container {
    min-height: 10rem;
}

.revealed {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: top;
}

.revealed .year,
.revealed .event {
    animation: fadeIn 1s ease-in;
}

.revealed .marker-line .marker::before {
    margin-left: -20px;
    
}

.revealed .marker-line .marker::before,
.revealed .marker-line .marker::after {
    content: "";
    width: 10px;
    height: 3px;
    // background-color: #1a1a1a;
    display: block;
    animation: extend 0.2s ease-out;

}

.revealed .marker-line .marker::after {
    margin-left: 28px;
    margin-top: -3px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes extend {
    0% { width: 0; }
    100% { width: 50%; }
}

.marker-line {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.marker {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 0px;
    background-color: aqua;
}

.line {
    width: 3px;
    height: 0;
    background-color: aqua;
}

.event {
    // border: 1px solid #111111;
    border: 1px solid #E67E22;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: left;
}

.empty {
    border: none;
}

.end-container button {
    pointer-events: none;
    background-color: #E67E22;
}

.end-container .year h3 {
    margin-top: 0;
}

.start-container .empty {
    min-height: 18rem;
}
